
<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="hora-actual">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <span>{{hora}}</span>
  </template>
  <script>
    Polymer({
      is: 'hora-actual',

      properties: {
        hora: String
      },

      attached: function() {
        this.marcaHora();
      },

      marcaHora: function() {
        this.hora = this.getHora();
      },

      getHora: function() {
        var ahora = new Date();
        return ahora.getHours() + ":" + ahora.getMinutes() + ":" + ahora.getSeconds()
      }
      
    });
  </script>
</dom-module>
