
<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="precio-oferta.html">


<dom-module id="oferta-del-dia">
  <template>
    <style include="estilos-compartidos"></style>
    <style>
      :host {
        display: block;
        font-family: sans-serif;
        --main-color: red;
        --iron-icon-width: 50px;
        --iron-icon-height: 50px;
        --iron-icon-fill-color: #600;
      }
      h2 {
        color: var(--main-color);
      }
      h1{
        color: #fff;
        background-color: var(--main-color);
       
      }
      h1 iron-icon {
         --iron-icon-fill-color: #ff9;
      }

      h1 precio-oferta{
        --precio-oferta: #ff9;
        --precio-normal: #fff;
        --estilo-caja: {
          background-color: #ddd;
          padding: 2px;
        }
      }
      precio-oferta{
        color: green;
      }
    </style>
    <h1> 
      <iron-icon icon="star"></iron-icon> <content select=".titulo"></content>
      <precio-oferta precio="3" oferta="2.99"></precio-oferta>
    </h1>
    <h2><content select=".descripcion"></content></h2>
    <p>Precio: <content select=".precio"></content></p>

    <precio-oferta precio="100" oferta="69"></precio-oferta>
    <iron-icon icon="alarm"></iron-icon>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, distinctio minima et reprehenderit vero labore eligendi nostrum suscipit quisquam veniam at, sit nesciunt laborum numquam voluptates illo soluta velit magni.</p>
  </template>
  <script>
    Polymer({
      is: 'oferta-del-dia'
    });
  </script>
</dom-module>
