
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">


<dom-module id="swipeable-item">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <paper-icon-item>
      <iron-icon icon="[[icon]]" item-icon></iron-icon>
      [[msg]]
    </paper-icon-item>
  </template>
  <script>
    Polymer({
      is: 'swipeable-item',

      properties: {
        icon: String,
        msg: String,
      },

      procesaElementoEliminado: function() {
        console.log('Acaban de eliminarme, debería quitarme de la base de datos (', this.msg, ')')
      }
    });
  </script>
</dom-module>
